<div *ngIf="!show" class="p-5 m-5">
  <h4>Ups, la pantalla debe de ser mayor que 1024 x 768 pixeles para usar este producto.</h4>
  <h4 class="text-right m-5 mt-4 pr-3">Sorry :(</h4>
</div>

<div *ngIf="show" class="container pt-5">

  <main class="row">

    <section id="productos" class="col">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">

          <a class="nav-item nav-link active" id="bebida-tab" data-toggle="tab" href="#bebida" role="tab"
            aria-controls="bebida" aria-selected="false">BEBIDAS</a>

          <a class="nav-item nav-link" id="entrante-tab" data-toggle="tab" href="#entrante" role="tab"
            aria-controls="entrante" aria-selected="true">ENTRANTES</a>

          <a class="nav-item nav-link" id="comida-tab" data-toggle="tab" href="#comida" role="tab"
            aria-controls="comida" aria-selected="true">COMIDA</a>

          <a class="nav-item nav-link" id="postre-tab" data-toggle="tab" href="#postre" role="tab"
            aria-controls="postre" aria-selected="false">POSTRES</a>

        </div>
      </nav>

      <div class="tab-content bg-grey rounded-bottom rounded-right p-2" id="nav-tabContent">

        <app-lista-productos class="tab-pane fade show active" id="bebida" role="tabpanel" aria-labelledby="bebida-tab"
          [productos]="arrBebida" (productoSeleccionado)="handleSentInfo($event)">
        </app-lista-productos>

        <app-lista-productos class="tab-pane fade" id="entrante" role="tabpanel" aria-labelledby="entrante-tab"
          [productos]="arrEntrante" (productoSeleccionado)="handleSentInfo($event)">
        </app-lista-productos>

        <app-lista-productos class="tab-pane fade" id="comida" role="tabpanel" aria-labelledby="comida-tab"
          [productos]="arrComida" (productoSeleccionado)="handleSentInfo($event)">
        </app-lista-productos>

        <app-lista-productos class="tab-pane fade" id="postre" role="tabpanel" aria-labelledby="postre-tab"
          [productos]="arrPostre" (productoSeleccionado)="handleSentInfo($event)">
        </app-lista-productos>

      </div>
    </section>

    <section id="comanda" class="col-auto bg-grey rounded p-2 ml-1">
      <app-comanda [finales]="arrFinales"></app-comanda>
    </section>

  </main>

</div>
